<h1>List of all actors</h1>

<table border="1">
  <tbody>
    <tr>
      <th>
        ID
      </th>

      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
        Dob
      </th>

      <th>
      </th>
    </tr>
    <% @actor_list.order({:name => :asc}).each do |a_actor| %>

      <tr>
        <td>
          <%= a_actor.id %>
        </td>
        
        <td>
          <img src=<%= a_actor.image %> alt=<%= a_actor.name %> style="width:250px">
        </td>
        
        <td>
          <%= a_actor.name %>
        </td>
        
        <td>
          <%= a_actor.dob %>
        </td>

        <td>
          <a href="/actors/<%= a_actor.id %>">Show details</a>
        </td>
      </tr>

    <% end %>
  </tbody>

</table>
