<h1>List of all directors</h1>

<table border="1">
  <tbody>
    <tr>
      <th>
        ID
      </th>

      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
        Dob
      </th>

      <th>
      </th>
    </tr>
    <% @director_list.order({:name => :asc}).each do |a_director| %>

      <tr>
        <th>
          <%= a_director.id %>
        </th>
        <th>
          <img src=<%= a_director.image %> alt=<%= a_director.name %> style="width:250px">
        </th>
        <th>
          <%= a_director.name %>
        </th>
        <th>
          <%= a_director.dob %>
        </th>
        <th>
          <a href="directors/<%= a_director.id %>">Show details</a>
        </th>
      </tr>

    <% end %>
  </tbody>

</table>
