<h1>
  Movie <%=movie_id%> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director.bio %>

  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%=@director.image%> style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @director.created_at %>

  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @director.updated_at %>
  </dd>
</dl>

<hr>
