<h1>List of all movies</h1>

<table border="1">
  <tbody>
    <tr>
      <th>
        ID
      </th>

      <th>
        Image
      </th>

      <th>
        Title
      </th>

      <th>
        Year
      </th>

      <th>
        Director
      </th>

      <th>
      </th>
    </tr>
    <% @movie_list.order({:title => :asc}).each do |a_movie| %>

      <tr>
        <th>
          <%= a_movie.id %>
        </th>
        
        <th>
          <img src=<%= a_movie.image %> alt=<%= a_movie.title %> style="width:250px">
        </th>
        
        <th>
          <%= a_movie.title %>
        </th>
        
        <th>
          <%= a_movie.year %>
        </th>

        <th>
          <%= Director.where({ :id => a_movie.director_id }).at(0).name %>
        </th>

        <th>
          <a href="movies/<%= a_movie.id %>">Show details</a>
        </th>
      </tr>

    <% end %>
  </tbody>

</table>
